.TakeHome{
    margin: 80px auto;
    text-align: center;
    justify-content: center;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    flex-direction: column;
    padding: 50px;
    /* border: 0.5px solid gray; */
    /* align-items: center;
    justify-content: center; */
    margin-bottom: 40px;
    gap: 20px;
}

.gallery img{
    width: 50%;
    border-radius: 10px;
    height: 100px;
}

.btn.dark-btn{
    background: #212121;
    color: #fff;
}

@media (max-width: 800px){
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width: 48%;
        margin-bottom: 25px;

    }
}